body{
	width: 100%;
	color: #000000;
}
div#wrapper{
		font-family: arial, Helvetica, sans-serif;
		min-width: 650px;
		max-width: 1330px;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		border: solid thin red;
		background-image: url('dadPhotos/river.png'); 

	}
	div#titleBanner{
		width:100%;
	}
	header#myHeader{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}	
	ul.headerLinks{
		padding: 0em;
		margin: 1em;
		list-style-type: none;
		width: 100%;
	}


	ul.headerLinks li{
		display: inline;
		float: right;
	}

	ul.headerLinks a{
		margin-right: 1.5em;
		border: solid thin;
		background-color: #FFFFFF;
		padding: 0.3em;
		text-decoration: none;
		display: block;
		width: 8em;
		text-align: center;
	}


	div.Luv{
		width: 100%;
		margin: 1em;
		border: solid thin;
		box-sizing: border-box;
		padding: 2em;
		border: none;
	}
	h1.drLuv{
		font-family:segoe script,georgia, serif;
		font-size: 3em;
		background-color: #FFFFFF;
		text-transform: uppercase;
		width: 45%;
		padding: 0.5em;
		color: #003399;
		float: left;
		text-align: center;
	}
	img.dad{
		padding: 1em;
		width: 40%;
		height: 300px;
		box-sizing: border-box;
		float: right;
		margin: 1em 3em 1em 1em;
	}
	ul.menu{
		margin-top: 20em;
		margin-bottom: 1em;
		list-style-type: none;
		width: 100%;
		text-align: center;
	}

	ul.menu li{
		display: inline;
	}

	ul.menu li a{
		margin-right: 1.5em;
		margin-left: 1.5em;
		border: solid thin;
		background-color: #FFFFFF;
		padding: 0.3em;
		text-decoration: none;
		/*display: block;*/
		width: 8em;
		text-align: center;
	}

	.current{
		text-decoration: underline;
		font-weight: bold;
		color: black;
	}

	}
	h2{
		font-size: 2em;
		text-transform: uppercase;
	}
	h3{
		font-size: 1.5em;
		text-transform: uppercase;
	}

	aside#myLinks{;
		float: right;
		width: 20%;
		border: solid thin;
		padding: 1em;
		margin: 2em 2em 4em 2em;
		background-color: #FFFFFF;
		color: #003399;
		box-sizing: border-box;
		text-align: center;
	}

	footer#myFooter{
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		background-color: #FFFFFF;
		border: solid thin;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		color: #003399;
		width: 100%;
}
	nav{
		text-transform: uppercase;
		font-weight: bold;
	}
	a:link{
		color: #003399;
		text-decoration: none;
	}
	 ul li a:hover, a:hover{
		color: #0095FF;
		background-color: #0033CC;
	}
	a:active {
		color:#000000;
		background-color: #00FF00;
	}