body{
	width: 100%;
}
div#wrapper{
		font-family: arial, Helvetica, sans-serif;
		min-width: 400px;
		max-width: 1330px;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		border: solid thin red;
		background-image: url('dadPhotos/river.png'); 
		color: #003399;
	}
header#myHeader{
		width: 100%;
		margin: 1em;
		box-sizing: border-box;
		float: right;
		/*border: solid thin;*/
		text-align: right;
	}	
	ul.headerLinks{
		list-style-type: none;
	}


	ul.headerLinks li{
		display: inline;
	}

	ul.headerLinks li a{
		margin-right: 1.2em;
		border: solid thin;
		background-color: #FFFFFF;
		text-decoration: none;
		text-align: center;
		box-sizing: border-box;
	}

	div#titleBanner{
		width:100%;
		box-sizing: border-box;
		margin-bottom: 2em;
		height: 23em;
		border: solid blue;
	}
	

	h1.drLuv{
		font-family:segoe script,georgia, serif;
		font-size: 2.3em;
		background-color: #FFFFFF;
		text-transform: uppercase;
		width: 50%;
		padding: 0.1em;
		color: #003399;
		float: left;
		text-align: center;
		box-sizing: border-box;
		margin-left:10%;
		margin-right: 1em;
		min-width: 300px;
	}
	img.dad{
		margin-left:auto;
		margin-right: 5em;
		padding: 1em;
		width: 27%;
		box-sizing: border-box;
		float: right;
		height: 250px;
		/*transition: transform 4s;*/
	}

	img.dad:hover{
		transform: rotate(-720deg);
	}

	ul.menu{
		margin-top: 1em;
		margin-bottom: 1em;
		list-style-type: none;
		width: 100%;
		text-align: center;
	}

	ul.menu li{
		display: inline;
		font-family:segoe script,georgia, serif;
	}

	ul.menu li a{
		margin-right: 1.2em;
		margin-left: 1.2em;
		border: solid thin;
		background-color: #FFFFFF;
		padding: 0.3em;
		text-decoration: none;
		/*display: block;*/
		width: 8em;
		text-align: center;
	}

	.current{
		text-decoration: underline;
		font-weight: bold;
		color: black;
		background-color: #FFFFFF;
		padding: 0.3em;
		margin-right: 1.2em;
	}

	}
	h2{
		font-size: 2em;
		text-transform: uppercase;
		font-family:segoe script,georgia, serif;
	}
	h3{
		font-size: 1.5em;
		text-transform: uppercase;
		font-family:segoe script,georgia, serif;
	}

	aside#myLinks{;
		float: right;
		width: 18%;
		border: solid thin;
		padding: 0.5em;
		margin: 2em 2em 4em ;
		background-color: #FFFFFF;
		box-sizing: border-box;
		text-align: center;
		font-family:segoe script,georgia, serif;
	}

	footer#myFooter{
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		background-color: #FFFFFF;
		border: solid thin;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		color: #003399;
		width: 100%;
}
	nav{
		text-transform: uppercase;
		font-weight: bold;
	}
	a:link{
		color: #003399;
		text-decoration: none;
	}
	 ul li a:hover, a:hover{
		color: #0095FF;
		background-color: #0033CC;
	}
	a:active {
		color:#000000;
		background-color: #00FF00;
	}

	.Buttons{
		float:left;
	}